<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    <section name="system.identityModel"
      type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services"
      type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>  
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--
    <add key="AssertionConsumerServiceURL"  value="https://testwk.vulcan.net.pl/account/logon"/>
    <add key="AssertionIssuer"              value="https://testwk.vulcan.net.pl"/>
    <add key="IdentityProvider"             value="https://symulator.login.gov.pl/login/SingleSignOnService"/>
    <add key="ArtifactResolve"              value="https://symulator.login.gov.pl/login-services/idpArtifactResolutionService"/>
    <add key="SingleLogout"                 value="https://symulator.login.gov.pl/login-services/singleLogoutService"/>
    -->

	<add key="AssertionConsumerServiceURL"  value="http://localhost:63273/account/logon"/>
    <add key="AssertionIssuer"              value="http://localhost:63273"/>
    <add key="IdentityProvider"             value="http://localhost:44318/login/SingleSignOnService"/>
    <add key="ArtifactResolve"              value="http://localhost:44318/login-services/idpArtifactResolutionService"/>
    <add key="SingleLogout"                 value="http://localhost:44318/login-services/singleLogoutService"/>    

</appSettings>

  <system.identityModel>
  </system.identityModel>

  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
    </federationConfiguration>
  </system.identityModel.services>
  
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="/account/logon" defaultUrl="/home/index"/>
    </authentication>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>

  <system.webServer>
    <modules>
      <add name="SessionAuthenticationModule"
           type="System.IdentityModel.Services.SessionAuthenticationModule, System.identitymodel.services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"
           preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
