<h2>Login succesfull!</h2>
<div>
    Hello world from Węzeł Krajowy (OldMusicBox.EIH.Client). You are logged as @this.User.Identity.Name
</div>
<div>
    Click here for <a href="/Home/Logout"> EIH logout</a>
</div>


