<h2>Logout Status</h2>

@if( Session["logout"] != null)
{
    <div>
        @( ((OldMusicBox.EIH.Client.Model.LogoutResponse)Session["logout"]).RawMessage.Payload )
    </div>
}
else
{
    <div>
        No logout status information available
    </div>
}


<a href="/Home/Index">Return to main page</a>

